* {
  font-family: "DM Sans", sans-serif;
  color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

.background {
  background: linear-gradient(
    180deg,
    #222222 0%,
    #1f1f1f 11.64%,
    #171717 25.66%,
    #161616 32.94%,
    #151515 35.98%,
    #131313 44.89%,
    #121212 55.22%,
    #121212 75.34%,
    #121212 85.45%,
    #121212 100%
  );
}

.content {
  background: linear-gradient(
    180deg,
    #121212 0%,
    #121212 14.55%,
    #121212 24.66%,
    #121212 44.78%,
    #131313 55.11%,
    #151515 64.02%,
    #161616 67.06%,
    #171717 74.34%,
    #1f1f1f 88.36%,
    #222222 100%
  );
}
