* {
  font-family: "DM Sans";
  color: #fff;
}

.main {
  display: flex;
  width: 100vw;
}

.background {
  background: linear-gradient(180deg, #222222 0%, #1F1F1F 11.64%, #171717 25.66%, #161616 32.94%, #151515 35.98%, #131313 44.89%, #121212 55.22%, #121212 75.34%, #121212 85.45%, #121212 100%);

}