.container {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  max-height: 1000px;
  z-index: 9999;
  background: rgba($color: #000000, $alpha: 0.5);
  font-size: 18px;
  font-weight: bold;
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 290px;
    border-radius: 5px;
    background: linear-gradient(
      180deg,
      #121212 0%,
      #121212 14.55%,
      #121212 24.66%,
      #121212 44.78%,
      #131313 55.11%,
      #151515 64.02%,
      #161616 67.06%,
      #171717 74.34%,
      #1f1f1f 88.36%,
      #222222 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      margin-bottom: 20px;
    }
    .score {
      margin-bottom: 20px;
      display: flex;
      h3 {
        font-size: 14px;
      }
      .timeContainer {
        margin-right: 50px;
        text-align: center;
        .time {
          font-size: 30px;
        }
      }
      .coinContainer {
        text-align: center;
        .coinScore {
          display: flex;
          align-items: center;
          justify-content: center;
          .coin {
            font-size: 30px;
            margin-right: 5px;
          }
          .unit {
            font-size: 22px;
          }
          .addCoin {
            margin-left: 10px;
            color: #FFCC02;
            
          }
        }
      }
    }
    .message {
      margin-bottom: 20px;
      .accent {
        color: #FFCC02;
      }
    }
    .buttonContainer {
      .cancelButton, .applyButton {
        width: 100px;
        height: 40px;
        font-size: 12px;
        border-radius: 10px;
        transition: all 0.3s 0s ease;
      }
      .cancelButton {
        background: #C1C1C1;
        color: #7D7D7D;
      }
      .cancelButton:hover {
        background: #FDFDFD;
      }
      .applyButton {
        margin-left: 70px;
        background: #FFCC02;
        color: #333333;
        &:hover {
          background: #FFE016;
        }
      }
    }
  }
}