.container {
  position: absolute;
  top: 50%;
  left: 50%;
  h1 {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  span {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    animation: 3s infinite linear;
  }
  span:nth-child(2) {
    background: #e84c3d;
    animation: kiri 1.2s infinite linear;
  }
  span:nth-child(3) {
    background: #f1c40f;
    z-index: 100;
  }
  span:nth-child(4) {
    background: #2fcc71;
    animation: kanan 1.2s infinite linear;
  }
}

@keyframes kanan {
  0% {
    transform: translateX(20px);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(20px);
    z-index: 200;
  }
}

@keyframes kiri {
  0% {
    transform: translateX(-20px);
    z-index: 200;
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}
