.selectContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  @media screen and (max-width: 880px) {
    flex-direction: column;
    align-items: center;
    @media (orientation: landscape) {
      margin-top: 0;
      flex-direction: row;
    }
  }
  .solo,
  .multi {
    width: 100%;
    height: 100%;
    padding: 30px 0 50px 0;
    background: #303030;
    object-fit: contain;
    border-radius: 4px;
    border: 5px solid #303030;
    transition: all 0.2s 0s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 950px) {
      padding: 30px;
    }
  }
  .solo,
  .multi {
    a {
      display: block;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 500px) {
        width: 80%;
      }
      img {
        width: 80%;
        margin-bottom: 30px;
      }
    }
  }
  .solo {
    position: relative;
    margin-right: 10%;
    @media screen and (max-width: 880px) {
      margin-right: 0;
      margin-bottom: 30px;
      @media (orientation: landscape) {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }
  }
  .multi {
    position: relative;
  }
  .solo:hover,
  .multi:hover {
    border: 5px solid #ffcc02;
  }
  .roomName {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: 5%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.musk {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  background: rgba($color: #000000, $alpha: 0.8);
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
