.container {
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 19px;
  max-width: 300px;
  .logo {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 80px;
  }
  .menus {
    li {
      margin: 0 10px 22px;
      list-style: none;
      display: flex;
      align-items: center;
      padding: 13px;
      border-radius: 6px;
      transition: all 0.3s 0s ease;

      a {
        text-decoration: none;
        margin-left: 16px;
      }
      a:visited {
        color: #fff;
      }
    }
    li:hover {
      background: #282828;
    }
  }
}
