.container {
  position: absolute;
  top: 20px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 5;
  .userInfoContainer {
    background: #000;
    padding: 3px 5px 3px 3px;
    border-radius: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .userImageBg {
      background: #517589;
      width: 37px;
      height: 37px;
      border-radius: 50%;
      margin-right: 6px;
      .userImage {
        border-radius: 50%;
      }
    }
    .userInfo {
      margin-right: 30px;
      .userCoin {
        display: flex;
        align-items: center;
        margin-bottom: 2px;
        .coinImage {
          margin-right: 3px;
        }
        .coinCount {
          font-size: 10px;
          margin-right: 2px;
          display: block;
        }
        .coinUnit {
          font-size: 8px;
          display: block;
        }
      }
      .userName {
        font-size: 20px;
        font-weight: bold;
        line-height: 0.75em;
        margin-bottom: 2px;
        width: 100px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
    .caretDown {
      transition: transform .5s;
      transform: rotate(0);
      cursor: pointer;
    }
  }
  .modal {
    width: 150px;
    padding: 20px;
    border-radius: 5px;
    background: #282828;
    margin-top: 10px;
    margin-right: 3px;
    font-size: 14px;
    font-weight: bold;
    nav ul .menuItem {
      cursor: pointer;
      padding: 5px 20px;
      border-radius: 5px;
      transition: all 0.3s 0s ease;
    }
    nav ul .menuItem:hover {
      background: #353535;
    }
  }
}

.rotate180 {
  transition: transform .5s;
  transform: rotate(180deg);
  cursor: pointer;
}

.open {
  transform: scaleY(1);
  transform-origin: center top;
  transition: transform .3s;
}

.close {
  transform: scaleY(0);
  transform-origin: center top;
  transition: transform .3s;
}