.container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba($color: #000000, $alpha: 0.5);
  font-size: 18px;
  font-weight: bold;
  top: 0;
  left: 0;
  .modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 35px 0;
    border-radius: 5px;
    background: linear-gradient(
      180deg,
      #121212 0%,
      #121212 14.55%,
      #121212 24.66%,
      #121212 44.78%,
      #131313 55.11%,
      #151515 64.02%,
      #161616 67.06%,
      #171717 74.34%,
      #1f1f1f 88.36%,
      #222222 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 500px) {
      width: 95%;
      font-size: 14px;
    }
    @media (orientation: landscape) {
      padding: 20px 0;
    }
    h2 {
      margin-bottom: 20px;
      @media (orientation: landscape) {
        font-size: 16px;
      }
    }
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      .itemInfo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        .wallpaperImage {
          width: 100%;
          height: auto;
          margin-right: 20px;
          @media (orientation: landscape) {
            width: 80%;
          }
        }
        .musicImage {
          margin-right: 10px;
        }
        .titleInfo {
          .title {
            font-size: 14px;
            font-weight: bold;
          }
          .artist {
            font-size: 12px;
            font-weight: bold;
            color: #b3b3b3;
          }
        }
      }
      .price {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        .coinImage {
          margin-right: 10px;
        }
      }
    }
    .userCoinContainer {
      margin-bottom: 30px;
      @media (orientation: landscape) {
        margin-bottom: 10px;
      }
      .userCoinHead {
        margin-bottom: 10px;
        text-align: center;
        @media (orientation: landscape) {
          font-size: 14px;
        }
      }
      .userCoin {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        .price {
          display: flex;
          justify-content: center;
          align-items: center;
          .coinImage {
            margin-right: 10px;
            @media (orientation: landscape) {
              width: 16px;
              height: 16px;
            }
          }
        }
        .arrowImage {
          margin: 0 20px;
          @media (orientation: landscape) {
            width: 16px;
            height: 16px;
          }
        }
        .priceValue {
          font-size: 18px;
          font-weight: bold;
          @media (orientation: landscape) {
            font-size: 16px;
          }
        }
        .afterPriceValue {
          font-size: 20px;
          font-weight: bold;
          color: #ffcc02;
          @media (orientation: landscape) {
            font-size: 16px;
          }
        }
        .warning {
          color: #cc0000;
        }
      }
      .warning {
        color: #cc0000;
        @media (orientation: landscape) {
          font-size: 14px;
        }
      }
    }
    .buttonContainer {
      .cancelButton,
      .applyButton {
        width: 100px;
        height: 40px;
        font-size: 12px;
        border-radius: 10px;
        transition: all 0.3s 0s ease;
        @media screen and (max-width: 500px) {
          width: 80px;
          height: 30px;
          font-size: 10px;
        }
      }
      .cancelButton {
        background: #c1c1c1;
        color: #333333;
      }
      .cancelButton:hover {
        background: #fdfdfd;
      }
      .applyButton {
        margin-left: 70px;
        background: #ffcc02;
        color: #333333;
        &:hover {
          background: #ffe016;
        }
        &:disabled {
          background: #727272;
        }
      }
    }
  }
}
