.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  // height: calc(100% - 20px);
  border-radius: 0 0 10px 10px;
  @media screen and (max-width: 1024px) {
    padding: 10px;
    @media screen and (orientation: portrait) {
      padding: 10px;
      // height: calc(100% - 90px);
    }
  }
  .settingTitle {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    @media screen and (max-width: 850px) {
      margin-bottom: 20px;
      font-size: 20px;
      @media (orientation: landscape) {
        margin-bottom: 10px;
        font-size: 16px;
      }
    }
  }
  .settingContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
