.tabContainer {
  display: flex;
  .tab {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #313131;
    font-weight: bold;
    font-size: 22px;
    transition: .3s ease-in-out;
    cursor: pointer;
    &:first-child {
      border-radius: 10px 10px 0 0;
    }
    &:last-child {
      border-radius: 10px 10px 0 0;
    }
    @media screen and (max-width: 768px) {
      font-size: 14px;
      height: 40px;
    }
  }
}